<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs')%>
<body>
    <% const name = "Milan" %>
    <%- include('./partials/navbar.ejs')%>
    <!-- passing value using ejs -->
    <h1>Home Page . Welcome <%= name %></h1>  
    <%- include('./partials/footer.ejs')%> 
</body>
</html>